@model Heimdallr.Models.GuardianRuin

@{
    ViewData["Title"] = "Guardian Site from Canonn";
    ViewData["Heading"] = "Guardian Ruin " + @Model.RuinId;
}



<div class="row">
    <div class="col-xs-5 col-md-3" >
        <div class="row">
            <div class="col-xs-12 canonn-thumbnail">
                <img src="https://ruins.canonn.technology/images/maps/@Model.RuinTypeName.ToLower()-thumbnail.png" class="img-responsive" />
            </div>
            
        </div>

    </div>

    <div class="col-xs-7 col-md-9">
        <div class="row">
            <div class="col-md-6 text-center text-uppercase">
                <h1> @Model.RuinTypeName </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>@Model.SystemName</h4>
            </div>
            <div class="col-md-3">
                <h6>@Model.BodyName</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-md-1">
                <dl>
                    <dt><h5>LAT</h5></dt>
                    <dd>@Model.Coordinates[0]</dd>
                </dl>
            </div>
            <div class="col-xs-5 col-md-1">
                <dl>
                    <dt><h5>LNG</h5></dt>
                    <dd>@Model.Coordinates[1]</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                
                <a href="@string.Format("https://ruins.canonn.technology/#GR{0}", Model.RuinId)" target="_blank">View Guardian Ruin Map</a>
            </div>
        </div>
    </div>


</div>
